@keyframes sway {
  0% {
    transform: rotate(0deg) translateX(0);
    filter: hue-rotate(0deg);
  }
  15% {
    transform: rotate(10deg) translateX(5px);
    filter: hue-rotate(180deg);
  }
  30% {
    transform: rotate(0deg) translateX(0);
    filter: hue-rotate(360deg);
  }
  45% {
    transform: rotate(-10deg) translateX(0);
    filter: hue-rotate(180deg);
  }
  60%{
    transform: rotate(0deg) translateX(0);
    filter: hue-rotate(0deg);
  }
  80%{
    transform: rotate(180deg) translateX(0);
    filter: hue-rotate(180deg);
  }
  100%{
    transform: rotate(-360deg) translateX(0);
    filter: hue-rotate(360deg);
  }
}

@keyframes rainbow-text-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.rainbow-wave {
  display: inline-block;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  animation: wave 2s ease-in-out infinite , text-pulse 2s linear infinite;
  animation-name: sway;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes text-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}


